.listItemOfContacts {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.iconOfInfo {
    margin-right: 10px;
}

.deleteBtn {
    margin-left: 15px;
    height: min-content;
    font-size: 15px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
}