.registerForm {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-top: 30px;
    border-color: darkgreen;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.registerDataInput {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 15px;
    font-size: 18px;
}

.registerDataLabel {
    margin-top: 11px;
}

.errorMessage {
    color: red;
    font-size: 12px;
}

.registerBtn {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: darkgreen;
    color: white;
    border-color: unset;
    font-size: 15px;
    padding: 5px;
}